@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


.page-width {
    max-width: 1920px;
    margin: auto;

}

/* .navbar .main-logo {
    border-left: 1px solid #4B5965;
}

 */



.side-padding {
    padding-left: 150px;
    padding-right: 150px;

}



.header-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 1.5rem; */
    border-bottom: 1px solid #4B5965;
    background: #161D27;

}

.header-line .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;


}

/* .header-line .line {
    border-right: 1px solid #4B5965;
    padi
} */

.header-line p {
    color: #FFF;
    font-family: 'Outfi', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

}

.header-line .contact-info p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-top: 19px;
    padding-bottom: 19px;

}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    width: 100%;
    background-color: transparent;
    /* Transparent black background */
    backdrop-filter: blur(1px);
    height: max-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);


}

.get-consult {
    display: flex;
    padding: 13px 25px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: #D1B06B;
    background-color: #2E3947;
    border: 1px solid #D1B06B;

    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}








.burger-btn {
    width: 2.5rem;
    cursor: pointer;
}

.menu {
    transition: .3s ease-in-out;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding: 1rem;
    background: #f5f5f5;

}

.menu ul {
    list-style: none;


}


ul li a {
    text-decoration: none;
    padding: 1rem;
    color: #FFF !important;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.menu ul li a {
    margin-bottom: 1rem;
    cursor: pointer;

    width: 100%;
    text-decoration: none;
}


.nav-list {
    display: none;
    list-style: none;

    cursor: pointer;
}


@media (min-width: 800px) {
    .burger-btn {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 1rem;

    }

}




/* ------------------------------------------------------home page css starts here---------------------  */



.hero-main {
    width: 100%;
    /* height: 90vh; */
    background: url(../imgs/main-hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.get-consult-btn {
    display: flex;
    padding: 13px 25px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: #D1B06B;
    background-color: #2E3947;
    border: 1px solid #D1B06B;

    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: max-content;
    margin-top: 14px;
}

h2 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

p {
    color: #D7D7D7;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 140% */
    text-transform: capitalize;
}

span {
    color: #D1B06B;
}

.hero-main .hero-main-box {
    padding: 80px 150px;

}


.hero-main .hero-main-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 724px;
}


/* =============================================================about=section starts here================================ */


.about-us-section-box {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;

}


.about-us-section-box .left-about-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about-us-section-box .left-about-box img {
    width: 771px;
    height: 423px;
}



.about-us-section-box .hammer-vector {
    position: absolute;

    right: 0;
    top: 0;
}

.about-us-section-box .left-about-box img:first-child {
    border-radius: 80px 0px 0px 0px;
}

.about-us-section-box .right-about-box h2 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 10px;
}



.about-us-section-box h4 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.about-us-section-box p {
    color: #7F7F7F;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    /* 145% */
    text-transform: capitalize;
}


.about-us-section-box .verified-lebele-about {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}




.about-us-section-box .right-about-box {
    display: flex;
    flex-direction: column;
    gap: 16px;


}






.about-us-section-box .right-about-box a {
    display: flex;
    padding: 13px 25px;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: #D1B06B;
    background-color: #2E3947;
    border: 1px solid #D1B06B;

    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: max-content;
    margin-top: 10px;
}


/* ================================================================head lable box css starts here========================= */




.head-lable-box {
    width: 100%;
    height: 500px;
    background: url(../imgs/all-pages-head-lable-box.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.head-lable-box .head-lable-text {
    display: flex;
    flex-direction: column;

    padding: 100px 150px 0 150px;
}

.head-lable-box .head-lable-text h1 {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.head-lable-box .head-lable-text img {
    padding: 8px;
}


/* ===================================================our team section starts here=======================================================/ */


.Our-team-main-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 3rem;
    padding-bottom: 3rem;
}

.our-team-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.Our-team-main-box h4 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.Our-team-main-box h2 {
    color: #2E3947;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* max-width: 811px; */

    text-transform: capitalize;
}

.Our-team-main-box p {
    color: #7F7F7F;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    /* 145% */
    text-transform: capitalize;


}


.members-team .align {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.members-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    padding: 15px;
}

.members-team .member-name {
    padding: 15px;
}

.members-team .member-info {
    background: #fff;
    box-shadow: 0px 15px 33px 0px rgba(0, 0, 0, 0.05);
    max-width: max-content;
    position: absolute;
    bottom: -97px;
}

.members-team .member img {

    width: 520px;



}

.user-details .comma {
    width: 100px;
}



.members-team .member-info .social-links {
    border-bottom: 1px solid #D1B06B;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 13px 15px;



}



.members-team h1 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



.members-team p {

    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.Our-team-main-box .meet-button {
    margin-top: 8rem;
}


/* ==============================================================================services section starts here================================ */


.services-main-box {
    background: url(../imgs/services.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;
    /* justify-content: center; */
    position: relative;


}



.services-main-box .justice-img {
    position: absolute;
    left: -20px;
    top: 20px;

}

.services-main-box .services-head-text {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.services-main-box h4 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}


.services-main-box h2 {
    color: #161D27;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.services-main-box p {
    color: #7F7F7F;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    /* 145% */
    text-transform: capitalize;
    max-width: 1068px;
}

.services-main-box .service-boxes .service-box {
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

.services-main-box .service-boxes {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.services-main-box .service-box .service-btn {

    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    background-color: #D1B06B;
    padding: 13px 25px;
    width: max-content;


}

.services-main-box .service-box a {

    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #D1B06B;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    background-color: #fff;
    padding: 13px 25px;
    width: max-content;
    border: 1px solid #D1B06B;



}




.services-main-box .service-box h5 {
    color: #161D27;
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.services-main-box .service-box p {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;

    /* 145% */
    text-transform: capitalize;
}


/* =======================================================static section starts here========================================== */


.statics-main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../imgs/static-final.png);
    /* height: 50vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    /* padding-bottom: 5rem; */
}


.statics-main-box .picture-box {
    background: url(../imgs/static-final.png);
    /* height: 50vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8rem;
}

.statics-main-box .statics-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding: 34px;
    text-align: center;
    max-width: 1450px;
    margin: 0 !important;
    /* position: absolute;
    bottom: -70px; */

    translate: 0px -85px;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.09);

}

.left-static-p {
    padding-left: 150px;
    padding-right: 75px;
}

.right-static-p {
    padding-right: 150px;
    padding-left: 75px;
}

.center-static-p {
    padding-left: 75px;

    padding-right: 75px;
}

.statics-main-box .statics-info h1 {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



.statics-main-box .statics-info p {
    color: #2E3947;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

/* =========================================our clients section starts here=============================================================== */

.our-client-main-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;


}

.client-brand-logo {
    overflow: auto;
    width: 100%;

}



.hide-scroll::-webkit-scrollbar {
    display: none;
}


.hide-scroll {
    -ms-overflow-style: auto;
    scrollbar-width: none;
}


.client-heding-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.our-client-main-box .client-heding-text p {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.our-client-main-box .client-heding-text h3 {
    color: #2E3947;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}




.user-info img {
    width: 100px;
}

.our-client-main-box .client-brand-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;


}


/* ========================================================================footer section starts here========================= */

footer {
    background-color: #161D27;


}

footer .footer-upper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
}

footer .footer-upper img {
    padding: 70px 0;
}



footer .reach-us {
    display: flex;
    flex-direction: column;

    gap: 25px;
}


footer .footer-middle {
    padding: 70px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


footer .footer-middle a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


footer .footer-middle h6 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 144.444% */
}



footer .Legal {

    display: flex;
    flex-direction: column;
    gap: 25px;
}


footer .Quick-Links {

    display: flex;
    flex-direction: column;
    gap: 25px;
}



footer .f-gap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}







.box-subscribe {
    border-radius: 10px;
    background-color: #011621;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-subscribe h1 {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 81.25% */
}

.box-subscribe form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-subscribe input[type="email"] {
    width: 100%;
    padding: 13px;
    color: #B9B9B9;
    font-family: 'Outfit', sans-serif;
    background-color: #02273A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.box-subscribe input[type="submit"] {
    width: 100%;
    padding: 13px;
    color: #D1B06B;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    border: 1px solid #D1B06B;
    background: #2E3947;
}

.box-subscribe p {
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* ====================================================================contact - us section starts here  ========================== */
.contact-main-box {
    padding-top: 3rem;
}

.contact-main-box .contact-main-img {
    width: 1105px;
    /* position: absolute; */

}

.contact-main-box .contact-us-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contact-main-box {
    position: relative;
}


.contact-us-box .contact-box {
    width: 805px;
    height: 758px;
    /* margin: 20px auto; */
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.09);
    z-index: 2;
    position: absolute;
    /* position: absolute; */
    left: 130px;
    bottom: 88px;
}





.contact-us-box input#name {
    color: #7F7F7F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.contact-us-box input#email {
    color: #7F7F7F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us-box input#subject {
    color: #7F7F7F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.contact-us-box input#message {
    color: #7F7F7F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}









.contact-us-box .contact-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-us-box .contact-input {
    width: 100%;
    padding: 15px;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
}

.contact-us-box .contact-message {
    width: 100%;
    height: 5em;
    padding: 10px;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #FFF;
    color: #7F7F7F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.contact-us-box form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.contact-us-box .contact-submit {
    width: 100%;
    padding: 15px;
    border: 1px solid #D1B06B;
    background: #2E3947;
    color: #D1B06B;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.contact-us-box h4 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}


.contact-us-box h1 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
























footer .footer-bottom {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.40);
}

footer .footer-bottom a {
    text-decoration: underline;
    color: #7F7F7F;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

footer .footer-bottom p {
    padding: 20px 0;
    color: #7F7F7F;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



/* =================================================================reviews section starts here================================= */

.reviews-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    gap: 15px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.reviews-container .button-arrow {
    display: flex;
    flex-direction: row;
}



.reviews-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.reviews {
    display: flex;
    overflow: hidden;
}


.reviews .user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;


}

.reviews h5 {
    color: #161D27;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.reviews p {
    color: #7F7F7F;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    /* 145% */
    text-transform: capitalize;
}

.reviews .user-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review {
    width: 780px;
    height: 340px;

    margin: 20px;
    padding: 30px;
    text-align: left;
    display: none;
    background-color: #FFF;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.09);
}

.review.active {
    display: block;
}

.reviews-container .space {
    margin: 15px;
}

.reviews-container h4 {
    color: #2E3947;
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}


.reviews-container h1 {
    color: #2E3947;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/* ======================================responsive code starts here================================================================== */





@media only screen and (max-width: 1390px) {


    .hero-main .hero-main-box {
        padding: 45px 120px;
    }


    .side-padding {
        padding-left: 120px;
        padding-right: 120px;
    }


    .review {
        width: 100%;
        height: auto;
    }



    .navbar {
        padding-top: 16px;
        padding-bottom: 16px;
    }


    ul li a {
        font-size: 15px;
        padding: 0.4rem;
    }

    .members-team .member img {
        width: 360px;
    }

    .hero-main .hero-main-text {
        width: 670px;
    }

    .services-main-box .service-boxes {
        flex-wrap: wrap;
    }

    .services-main-box .service-boxes {
        justify-content: center;
    }



    footer .footer-middle {
        flex-wrap: wrap;
    }

    .about-us-section-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    h2 {

        font-size: 50px;
    }

    .left-static-p {
        padding-left: 135px;
        padding-right: 55px;
    }

    .center-static-p {
        padding-left: 55px;
        padding-right: 55px;
    }

    .right-static-p {
        padding-right: 135px;
        padding-left: 55px;
    }

    .services-main-box .service-box .service-btn {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        color: #FFF;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        background-color: #D1B06B;
        padding: 10px 16px;
        width: max-content;
    }


    .contact-us-box h4 {
        font-size: 30px;
    }

    .contact-us-box h1 {
        font-size: 40px;
    }

    .contact-us-box input#name {
        font-size: 17px;
    }


    .contact-us-box input#email {
        font-size: 17px;
    }

    .contact-us-box .contact-input {
        padding: 12px;
    }

    .contact-us-box input#subject {
        font-size: 17px;
    }

    .contact-us-box .contact-message {
        font-size: 17px;
    }

    .contact-us-box .contact-submit {
        padding: 12px;
        font-size: 17px;
    }

    footer .footer-upper img {
        padding: 45px 0;
    }




    .reviews p {
        font-size: 17px;
    }

    .statics-main-box .statics-info h1 {
        font-size: 40px;
    }

    .statics-main-box .statics-info p {
        font-size: 18px;
    }

    .services-main-box .service-box a {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        color: #D1B06B;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        background-color: #fff;
        padding: 10px 16px;
        width: max-content;
        border: 1px solid #D1B06B;
    }

    .our-team-box-text {
        gap: 10px;

    }

    .Our-team-main-box h4 {
        font-size: 30px;
    }

    .Our-team-main-box h2 {
        font-size: 40px;
    }

    .Our-team-main-box p {
        font-size: 16px;
    }







    .services-main-box .service-box p {
        font-size: 17px;
    }

    .services-main-box .service-box h5 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    .get-consult-btn {
        padding: 10px 15px;


    }

    .get-consult {
        padding: 11px 20px;
    }

}


@media only screen and (max-width: 1280px) {

    .side-padding {
        padding-left: 60px;
        padding-right: 60px;
    }

    h2 {
        font-size: 47px;
    }

    p {
        font-size: 13px;
        max-width: 450px;
    }


    .get-consult {
        padding: 10px 10px;
    }

    .header-line p {
        font-size: 15px;
    }

    .hero-main .hero-main-box {
        padding: 18px 60px;
    }

    .get-consult {
        font-size: 15px;
    }

    .get-consult-btn {
        font-size: 15px;
        margin: 0;
    }



    .about-us-section-box .right-about-box {
        align-items: center;
    }

    .social-links img {
        width: 30px;
    }

    .members-team .member-info .social-links {
        gap: 20px;
        padding: 8px 15px;
    }


    .members-team h1 {

        font-size: 29px;
    }



    .members-team .member-info {
        bottom: -83px;
    }

    .our-team-box-text p {
        max-width: 100%;

    }


}




@media only screen and (max-width: 1280px) {
    .members-team .member img {
        width: 300px;
    }

    .social-links {
        gap: 15px;
        padding: 4px 12px;
    }

    .members-team h1 {
        font-size: 23px;
    }


    .members-team .member-name {
        padding: 9px;
    }

    .members-team .member-info {
        bottom: -63px;
    }

    .Our-team-main-box .meet-button {
        margin-top: 5rem;
    }

    .services-main-box .justice-img {
        width: 300px;
    }


    .statics-main-box .statics-info {

        padding: 25px;
        translate: 0px -60px;
    }


    .statics-main-box .picture-box {
        padding: 5rem;
    }

    .picture-box img {
        width: 80px;
    }




    .reviews-container h1 {
        font-size: 35px;
    }

    .reviews-container {
        gap: 10px;
    }

    .reviews-slider {
        padding-top: 0;
    }


    .center-static-p {
        padding-left: 35px;
        padding-right: 35px;
    }

    .left-static-p {
        padding-left: 110px;
        padding-right: 35px;
    }

    .right-static-p {
        padding-right: 100px;
        padding-left: 35px;
    }

    .user-info img {
        width: 75px;
    }

    .reviews h5 {
        font-size: 25px;
    }

    .user-details .comma {
        width: 70px;
    }

    .review {
        padding: 22px;
        margin: 15px;
    }




    .reviews .user-info {
        gap: 10px;
    }
}